@import '~bootstrap/scss/bootstrap';


.smallNavbar{
    font-size: 8px;
}

nav{
    img{
        width: 70px;
        aspect-ratio: 1/1;
    }
}

.mainNav{
    
    ul{
        li{
            list-style: none;
            font-weight: 500;
            font-size: 14px;
            // &:hover{
            //     color:;
            // }
        }
    }
}

.searchBar{
    p{
        font-size: 14px;
    }
}

.jumbotron{
   background-image: url("../imgs/jumbotron.jpg");
   height: 400px;
   background-position: top;
   background-size: cover;
}


.bigFooter{
    background-image: url("../imgs/footer-bg.jpg");
    
    overflow: hidden;
   background-size: cover;

   .leftSide{
    
        p{
            color: grey;
            font-size: 12px;
        }
        ul{
            padding-left: 0px;

            li{
                list-style: none;
                color: grey;
                font-size: 12px;
            }
        }
        .titleFooter{
            font-weight: 600;
            padding-bottom: 10px;
        }
   }

   .rightSide{
    margin-top: -110px;
    margin-bottom: -300px;
    width: 650px;
    aspect-ratio: 1/1; 
   }

}
.smallFooter{
 background-color: #303030;
    .logoSocial{
        img{
            width: 30px;
            aspect-ratio: 1/1;
        }

    }
}